Gertrude Nyenyeshi <gertrude.nyenyeshi@andela.com> andela-gnyenyeshi <gertrudenyenyeshi@Gertrudes-MacBook-Pro.local>
Gertrude Nyenyeshi <gertrude.nyenyeshi@andela.com> GertieNyesh <gertienyesh@gmail.com>
